* {
    position: relative;
    font-family: "Times New Roman", Times, serif;
}

.general-info,.name-img-fav,.tool-ingredient-step  {
  display:grid;
  grid-template-columns: 500px 500px; 
  justify-content: center;  
  align-items: start;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.drag-area {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px double white;
    background-color: orange;
}

.func-btns{
    margin-right: 30vw;
    margin-left: 34vw;
    padding: 5mm;
    display:grid;
    align-items: center;
    grid-template-columns: 20vw; 
}

#difficulty,#note{
    margin-right: 20vw;
}

#meal-type{
    padding: 5mm;
    display:grid;
    grid-template-columns: 10vw 10vw; 
    grid-row: auto auto;
}

@media (max-width: 900px) {
    .general-info,.name-img-fav,.tool-ingredient-step  {
        display:grid;
        grid-template-columns: 300px; 
        justify-content: center;  
        align-items: start;
        grid-row: auto;
        grid-row-gap: 10px;
      }

      .drag-area {
        padding: 1.5cm;
        width: 30vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 5px double white;
        background-color: orange;
    }

    #meal-type{
        padding: 5mm;
        display:grid;
        grid-template-columns: 10vw 10vw; 
        grid-row: auto auto;
        grid-column-gap: 5vw;
        grid-row-gap: 1vw;
    }
  }  
