.title-img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    border: 5px solid rgb(238, 183, 4);
    margin: auto;
}

.favorite {
    width: 100px;
    height: 100px;
}

.delete {
    float:right;

}

.heart {
    display:inline-block;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.heart, h1 {
    display: inline-block;
}

#recipe-name {
    color: blue;
}

#mealtype {
    color:blue;
}

#time {
    color:blue;
}

#difficulty {
    color:blue;
}

#ingredient-list {
    color:blue;
}

#steps-list {
    color:blue;
}

#tools-list {
    color:blue
}

#notes {
    color:blue;
}