.title-img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    border: 10px solid rgba(197, 132, 58, 0.877);
    margin: auto;
}

main {
    padding-left: 5%;
}

#ingredients-header {
    padding-top: 100px;
}

#delete {
    background-color: #cbd5e1;
}

#delete:hover {
    color: red;
    border-color: red;
}

#favorite h1 {
    float: left;
}

#favorite img {
    position: relative;
}

#recipe-name {
    color: #141233;
}

#mealtype {
    color:#141233;
    padding-top: 30px;
}

#time {
    color:#141233;
}

#difficulty {
    color:#141233;
}

#ingredient-list {
    color:#141233;
    text-indent: 20px;
    padding-bottom: 30px;
}

#steps-list {
    color:#141233;
    padding-bottom: 30px;
}

#tools-list {
    color:#141233;
    text-indent: 20px;
    padding-bottom: 30px;
}

#notes {
    color:#141233;
    text-indent: 20px;
    padding-bottom: 30px;
}