/* Home Page Style CSS */
/* DEBUG // DELETE // TODO // FIXME
h1 {
  font-family: ???
} */

/* header {
  padding: 60px;
  text-align: center;
  background: #ec9706;
  color: white;
  font-size: 30px;
  position: relative;
  float: center;
} */

/* Recipe CSS*/
* {
  /* This sets font for everything to be sans serif */
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background:siver;
  margin:0;
  position: relative;
}

fieldset {
  border: 2px solid rgb(214, 214, 214);
  box-sizing: border-box;
  display: block;
  width: max-content;
}

form button {
  display: block;
  margin-top: 0px;
}

/*
=============== 
DELETE LATER: start
===============
*/
label[for="ingredients"] p {
  margin: 0;
}

label[for="numRatings"] {
  margin: 10px 0 0 0;
}

label[for^="rating"] {
  padding-right: 10px;
}

label:not([for^="rating"]) {
  display: block;
  margin-bottom: 5px;
}
/*
=============== 
DELETE LATER: end
===============
*/
main {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  row-gap: 10px;
  width: 100%;
}

.danger {
  background-color: rgb(254, 171, 171);
  border-color: red;
}

.hidden {
  display: none;
}


/*
=============== 
top-header
===============
*/

/* Display the header image and texts */
.top-header {
	height: 40vh;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background: url('/assets/images/homepage-top-header2.jpeg') center/cover no-repeat; /* center the image and make sure it covers the entire section */
	border-radius: var(--borderRadius);
}

/* Add overlay to the image and center the texts */
.top-header-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);  /* darken the image */
	border-radius: var(--borderRadius);
}

  /* Change the text color and center it */
.top-header-text {
	color: var(--white);
	text-align: center;
}
  
  /* Change font size and margin for a small screen */
@media only screen and (min-width: 768px) {
	.top-header-text h1 {
	  font-size: 4rem;
	  margin-bottom: 0;
	}
}
